<%- include('template/head.ejs') %>

<div class="w3-container" >
  <h3>Delete a text</h3>
  <p>Select a text to delate </p>
<table class="w3-table-all w3-bordered w3-striped w3-border test w3-hoverable">
    <tr>
      <th>Texts</th>
      <th>Delete</th>
    </tr>
    <% arrayTexts.forEach(element => { %>
        <tr>
            <td><%= element.english_text %></td>
            <td><a class="w3-opacity" href="/texts/delete_text?id=<%= element._id %>&section=<%= element.section_text %>"><b>Delete</b></a></td>
          </tr>
    <% }) %>
  </table>
</div><br>
<%- include('template/footer.ejs') %>